<div class="container-fluid bg-1 text-center">
   
    <div class="about-container">
        <div style="position: relative;">
            <img src="img/bg.jpg" alt="Jesse FitzGibbon" class="img-circle opacity-25" style="display: block; max-width: 50%; height: auto; margin: 0 auto;">
            <div class="content" style="position: absolute; top: 0; left: 0; width: 100%;">
                <h1>About</h1>
                <h3>What musings and what miscellany?</h3>
                <p>
                    When I was younger, I would often try to picture myself as an adult. I wondered about what things I'd be doing and creating. It would have been helpful to have a site like this one to answer my questions.
                </p>
                <h3>Who's JesseFitz?</h3>
                <div class="about-body text-left">
                    <p>
                        This is a wonderful question that, like the younger me, I think is best framed as a summary of the things I've done and the things I do.
                    </p>
                    <p>
                        <strong>A Technologist:</strong> I've been learning and working in the technology space for over 20 years. I've worked in a wide variety of roles, the most fulfilling of all being those where I've been able to combine hands-on work with building and leading successful teams.
                    </p>
    
                    <p>
                        <strong>A Creator:</strong> I'm rarely content with idleness. I believe we are all creative in our own right, and it's wrong to deny ourselves the space to engage our creativity. Creativity comes in unique forms, and each person needs to find their own. My creativity comes in the form of learning and doing. I'm forever in the search of learning how to do something new and to create products that represent that learning. This site is one example.
                    </p>
    
                    <p>
                        <strong>A Part of Many Wholes:</strong> I'm a father and a husband, a son and a brother. I'm inspired to be a better and more meaningful member of my community. I'm a leader in business and industry, and I hope to enact change and betterment for those around me.
                    </p>
                </div>
            </div>
        </div>
    </div>
      
    
      
</div>
