/* You can add global styles to this file, and also import other style files */
.myStyle{
    color: #233509;
    background-color: white;
    font-size: medium;
}

.home-container{
  position: relative; 
  margin-top: 10px; 
  margin-bottom: 20px;
}


  .btn-default {
    background-color: darkgray;
  }

.landingPageTiles
{
    min-height: 160px;
}

.container-fluid {
  max-width: 800px; /* Set the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

body {
  font-family: Arial, sans-serif;
}