/* You can add global styles to this file, and also import other style files */
.myStyle{
    color: #233509;
    background-color: white;
    font-size: medium;
}

.container-fluid {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .btn-default {
    background-color: darkgray;
  }

.landingPageTiles
{
    min-height: 160px;
}