<div class="container-fluid bg-1 text-center">
    <h1>Better Now Than Never</h1>
    <img src="img/Jesse.jpeg"  alt="Jesse"  class="img-circle" style="display:inline">
    <p><em>Never pass up an opportunity to do something new, no matter when the opportunity is presented.  It's not late if you do it now.</em></p>
  </div>
  
  
<div class="container">
  <p>I'm hoping to do a number of things with this site, but for now... the best bet is to click on the 'Articles' link in the main nav.</p>
    <div class="row">      
      <div class="col-lg-3 text-center  offset-md-1">
        <div class="card bg-light mb-3 land landingPageTiles" style="max-width: 18rem;">    
          <h5 class="card-header text-primary">Learn</h5>
          <p class="card-body">Do some hands-on learning exercises relevant to my interests and the needs of our business.</p>   
        </div>
      </div>  
      <div class="col-lg-3 text-center offset-md-1">
        <div class="card bg-light mb-3 land landingPageTiles" style="max-width: 18rem;">    
          <h5 class="card-header text-primary">Experiment</h5>
          <p class="card-body">Validated learning.  I'll lay out theories and experiment with ways to prove them.</p>   
        </div>
      </div>  
      <div class="col-lg-3 text-center offset-md-1">
        <div class="card bg-light mb-3 land landingPageTiles" style="max-width: 18rem;">    
          <h5 class="card-header text-primary">Share</h5>
          <p class="card-body">No rules or constraints.  Just create and share things.</p>   
        </div>
      </div>
    </div>
  </div>
