<div class="container-fluid bg-1 text-center">
   
  <div class="home-container">
    <img src="img/bg.jpg" alt="Jesse FitzGibbon" class="img-circle opacity-25" style="display: block; max-width: 50%; height: auto; margin: 0 auto;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
      <h1>Better Now Than Never</h1>
      <p><em>Musings and Miscellany</em></p>
    </div>
  </div>
  
  <div class="comment"> 
    This space is a work in progress. It contains some explorations of curiosity and creativity that extend beyond my professional life. Please enjoy, and ping me on LinkedIn if you have questions or comments.  
  </div>
    
</div>
  
  
