<ng-container *ngIf="isLoading; else doneLoading">
  <div class="loading-container">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>  
</ng-container>
<ng-template #doneLoading>
  <div markdown
    [data]="markdownContentToPresent">
  </div>
</ng-template>
<ng-container *ngIf="impersonating">
  <div class="alert alert-warning">
    This content is an AI generated impersonation of the original content by the site's author.
  </div>
</ng-container>



